img {
    width: 100%;
}

body {
    margin: 0;
}

#screens {
    background-image: url(grafik/baggrund.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;

    position: relative;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* effekter */
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

/*
.pulse1 {
    animation-name: pulse_kf;
    animation-duration: 0.5;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
*/

@keyframes pulse_kf {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}


.hide {
    display: none;
}


#score {
    position: absolute;
    left: 43vw;
    top: 5vw;

    font-size: 2rem;
    font-family: monospace;
}

#gameover {
    background-image: url(grafik/game_over.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    width: 80vw;
    margin: auto;
    display: none;
}

#levelcomplete {
    background-image: url(grafik/level_complete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    width: 80vw;
    margin: auto;
    display: none;
}

/*UI-elementer*/
#points {
    background-image: url("grafik/point_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    pointer-events: none;

    width: 28vw;
    height: 18vw;
    left: 34vw;
    top: 0vw;
}

#energy {
    background-image: url("grafik/luft_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    pointer-events: none;

    width: 20vw;
    height: 10vw;
    left: 1vw;
    top: 0.3vw;
}

#time {
    background-image: url("grafik/tid_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    pointer-events: none;

    width: 10vw;
    height: 12vw;
    left: 2vw;
    top: 45vw;
}


#settings {

    background-image: url(grafik/indstillinger.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56.25vw;
    width: 100vw;
    z-index: 3;

    top: 0vw;
    left: 0vw;

    position: absolute;
}

#settings:hover {
    cursor: grab;
}

#settings:active {
    cursor: grabbing;
}

#exit {
    background-image: url("grafik/exit_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 11vw;
    height: 11vw;
    left: 85vw;
    top: 45.7vw;
}

#exit:hover {
    cursor: grab;
}

#exit:active {
    cursor: grabbing;
}


#life {
    background-image: url("grafik/liv_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    pointer-events: none;

    width: 19vw;
    height: 9vw;
    left: 42vw;
    top: 0.7vw;
}

/*game-elementer*/
#brandmand_right1 {
    background-image: url("grafik/braendmand_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: -18vw;
    top: 4vw;
}

.flyt_right1 {
    animation-name: mymove_rightfirst;
    animation-duration: 9.5s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}


@keyframes mymove_rightfirst {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }


}


#brandmand_right2 {
    background-image: url("grafik/braendmand_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: -65vw;
    top: 30vw;
}

.flyt_right2 {
    animation-name: mymove_right2;
    animation-duration: 13s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_right2 {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }


}


#brandmand_right3 {
    background-image: url("grafik/braendmand_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: -88vw;
    top: 15vw;

}


.flyt_right3 {
    animation-name: mymove_right3;
    animation-duration: 11s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_right3 {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }

}

#brandmand_right4 {
    background-image: url("grafik/braendmand_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: -28vw;
    top: 20vw;
}

.flyt_right4 {
    animation-name: mymove_right4;
    animation-duration: 8.5s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_right4 {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }

}

#brandmand_right5 {
    background-image: url("grafik/braendmand_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: -128vw;
    top: 20vw;
}

.flyt_right5 {
    animation-name: mymove_right5;
    animation-duration: 12s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_right5 {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }

}

#brandmand_right6 {
    background-image: url("grafik/braendmand_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: -148vw;
    top: 11vw;
}

.flyt_right6 {
    animation-name: mymove_right6;
    animation-duration: 10s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_right6 {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }

}

#brandmand_left1 {
    background-image: url("grafik/braendmand_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: 130vw;
    top: 5vw;

}

.flyt_left1 {
    animation-name: mymove_leftfirst;
    animation-duration: 8.5s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_leftfirst {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }

}

#brandmand_left2 {
    background-image: url("grafik/braendmand_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: 120vw;
    top: 14vw;

}

.flyt_left2 {
    animation-name: mymove_left2;
    animation-duration: 9.5s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_left2 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#brandmand_left3 {
    background-image: url("grafik/braendmand_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: 140vw;
    top: 20vw;

}

.flyt_left3 {
    animation-name: mymove_left3;
    animation-duration: 13s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_left3 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#brandmand_left4 {
    background-image: url("grafik/braendmand_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: 110vw;
    top: 29vw;

}

.flyt_left4 {
    animation-name: mymove_left4;
    animation-duration: 6s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_left4 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#brandmand_left5 {
    background-image: url("grafik/braendmand_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: 140vw;
    top: 20vw;

}

.flyt_left5 {
    animation-name: mymove_left5;
    animation-duration: 9s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_left5 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#brandmand_left6 {
    background-image: url("grafik/braendmand_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 20vw;
    height: 20vw;
    left: 140vw;
    top: 25vw;

}

.flyt_left6 {
    animation-name: mymove_left6;
    animation-duration: 12s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_left6 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#tandboerste {
    background-image: url("grafik/tandboerste.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 7vw;
    height: 7vw;
    left: 100vw;
    top: 10vw;

}

.plastic1 {
    animation-name: mymove_plastic1;
    animation-duration: 10s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic1 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#tandboerste2 {
    background-image: url("grafik/tandboerste.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 7vw;
    height: 7vw;
    left: -20vw;
    top: 30vw;

}

.plastic2 {
    animation-name: mymove_plastic2;
    animation-duration: 8s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic2 {
    0% {
        right: 0;
    }

    100% {
        left: 120vw;
    }

}

#bag_left {
    background-image: url("grafik/bag_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 8vw;
    height: 12vw;
    left: 5vw;
    top: 40vw;

}

.plastic3 {
    animation-name: mymove_plastic3;
    animation-duration: 10s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic3 {
    0% {
        bottom: 0px;
    }

    25% {
        left: 300px;
    }


    100% {
        top: -200px;
    }
}

#bag_left2 {
    background-image: url("grafik/bag_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 8vw;
    height: 12vw;
    left: 100vw;
    top: 30vw;

}

.plastic4 {
    animation-name: mymove_plastic4;
    animation-duration: 13s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic4 {
    0% {
        bottom: 0px;
    }

    25% {
        left: 1000px;
    }

    75% {
        right: 100px;
    }


    100% {
        top: -200px;
    }
}


#bag_right {
    background-image: url("grafik/bag_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 8vw;
    height: 12vw;
    left: 100vw;
    top: 30vw;

}

.plastic5 {
    animation-name: mymove_plastic5;
    animation-duration: 14s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic5 {
    0% {
        right: 0;
    }

    100% {
        left: -100vw;
    }


}

#bubble_big {
    background-image: url("grafik/bigbubble.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 6vw;
    height: 6vw;
    left: 20vw;
    top: 46vw;

}

.plastic6 {
    animation-name: mymove_plastic6;
    animation-duration: 9s;
    animation-iteration-count: 100;
    animation-fill-mode: both;

}

@keyframes mymove_plastic6 {
    0% {
        bottom: 0px;
    }


    100% {
        top: -200px;
    }
}

#bubble_big2 {
    background-image: url("grafik/bigbubble.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 6vw;
    height: 6vw;
    left: 60vw;
    top: 43vw;

}

.plastic7 {
    animation-name: mymove_plastic7;
    animation-duration: 8.5s;
    animation-iteration-count: 100;
    animation-fill-mode: both;

}

@keyframes mymove_plastic7 {
    0% {
        bottom: 0px;
    }


    100% {
        top: -200px;
    }
}


#bubble_small {
    background-image: url("grafik/smallbubble.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 4vw;
    height: 4vw;
    left: 52vw;
    top: 45vw;

}

.plastic8 {
    animation-name: mymove_plastic8;
    animation-duration: 7.5s;
    animation-iteration-count: 100;
    animation-fill-mode: both;

}

@keyframes mymove_plastic8 {
    0% {
        bottom: 0px;
    }


    100% {
        top: -200px;
    }
}

#bubble_small2 {
    background-image: url("grafik/smallbubble.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 4vw;
    height: 4vw;
    left: 80vw;
    top: 46vw;

}

.plastic9 {
    animation-name: mymove_plastic9;
    animation-duration: 8s;
    animation-iteration-count: 100;
    animation-fill-mode: both;

}

@keyframes mymove_plastic9 {
    0% {
        bottom: 0px;
    }


    100% {
        top: -200px;
    }
}

#flaske {
    background-image: url("grafik/flaske.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 6vw;
    height: 9vw;
    left: -20vw;
    top: 20vw;

}

.plastic10 {
    animation-name: mymove_plastic10;
    animation-duration: 12s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic10 {
    0% {
        right: 0;
    }

    25% {
        top: -28px;
    }

    100% {
        left: 120vw;
    }

}

#flaske2 {
    background-image: url("grafik/flaske2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 11vw;
    height: 11vw;
    left: -80vw;
    top: 30vw;

}

.plastic11 {
    animation-name: mymove_plastic11;
    animation-duration: 11s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic11 {
    0% {
        right: 0;
    }



    100% {
        left: 120vw;
    }

}


#straw_left {
    background-image: url("grafik/straw_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 7vw;
    height: 7vw;
    left: -50vw;
    top: 30vw;

}

.plastic12 {
    animation-name: mymove_plastic12;
    animation-duration: 14s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic12 {
    0% {
        right: 20vw;
    }

    25% {
        top: -10vw;
    }


    100% {
        left: 100vw;
    }

}

#strawyellow_left {
    background-image: url("grafik/strawyellow_left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 7vw;
    height: 7vw;
    left: -20vw;
    top: 50vw;

}


.plastic13 {
    animation-name: mymove_plastic13;
    animation-duration: 10s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes mymove_plastic13 {
    0% {
        right: 20vw;
    }

    25% {
        top: -10vw;
    }


    100% {
        left: 100vw;
    }

}


#strawyellow_right {
    background-image: url("grafik/strawyellow_right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 7vw;
    height: 7vw;
    left: 120vw;
    top: 10vw;

}

.plastic14 {
    animation-name: mymove_plastic14;
    animation-duration: 10s;
    animation-iteration-count: 100;
    animation-fill-mode: both;
    animation-timing-function: linear;
}


@keyframes mymove_plastic14 {
    0% {
        right: 0vw;
    }

    100% {
        left: -30vw;
    }


}

#settings_button {
    background-image: url("grafik/settings_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;

    width: 14vw;
    height: 7vw;
    right: 0vw;
    top: 0vw;
}

#sfx_turnon_knap {
    background-image: url(grafik/sfx_turnon_knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12vw;
    height: 6vw;
    position: absolute;
    bottom: 23vw;
    left: 40vw;
    z-index: 8;
}

#sfx_turnoff_knap {
    background-image: url(grafik/sfx_turnoff_knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 100px;
    position: absolute;
    bottom: 23.08vw;
    left: 38vw;
    z-index: 9;
}

#musik_turnon_knap {
    background-image: url(grafik/musik_turnon_knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 11vw;
    height: 100px;
    position: absolute;
    bottom: 29vw;
    left: 40vw;
    z-index: 8;
}

#music_turnoff_knap {
    background-image: url(grafik/music_turnoff_knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14vw;
    height: 100px;
    position: absolute;
    bottom: 29.85vw;
    left: 38.3vw;
    z-index: 9;
}

#back {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 200px;
    left: 625px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.43);
    z-index: 9;
}

#luk {
    background-image: url(grafik/lukke%20knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 5vw;
    position: absolute;
    bottom: 34.7vw;
    left: 26.7vw;
    z-index: 8;
}

/*startfarveskærm*/
#start {
    background-image: url(grafik/forside.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vw;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;

}

#play_button {
    position: absolute;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/play_knap.svg);
    background-size: 100%;
    left: 38vw;
    top: 41vw;

    cursor: pointer;
}
